<div class="container">
<div class="row">
    
    <div class="col-12">
        
        <div class="main-header" id="about">
            <div class="profile-pic">
                <img src="assets/DSC_5051.JPG" alt="profile picture">
            </div>
            <div class="info">
                <h1>MANISH VERMA</h1>
                <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 7532999755</p>
                <p><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>Manish.v2405@gmail.com </p>
                <div class="btn-wrapper">
                    <a class="btn btn-primary" href="src/manishcv.pdf" download="Manish CV"><i class="fa fa-download" aria-hidden="true"></i> Download CV </a>
                </div>
            </div>
        </div>
        <app-maincontent></app-maincontent>
        


        </div>
</div>
</div>