.container{
    position: relative;
}

.main-header{
    display: flex;
    margin-top: 10%;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(168, 166, 166);
    .info{
        padding-left: 40px;
        
        h1{
            font-size: 40px;
            
        }
        p{
            font-size: 15px;
            color: rgb(79, 79, 172);
        i{
            color: black;
            padding-right: 20px;
        }
        }
    }
}
.profile-pic{
    img{
        width: 160px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 768px){
    
    .main-header{
        width: 100%;
        font-size: 13px;
        margin-top: 20%;
        flex-direction: column;
        .info{
            padding-left: 0;
            p{
                font-size: 13px;
            } 
         h1{
            font-size: 25px;
        }
    }
        .profile-pic img{
            width: 100px;
           
        }
    }
}