<div class="container">
<div class="main-content" >
    <div class="overview">    
        <h1>Overview</h1>
        <p>
                    
                Hello, I’m Manish, A passionate <span>Front End coder</span>. I’m curious for learning  and I wish to contribute to the success
                of an organization, which values  and fosters professionalism, ambition, and skills of an individual.
        </p>
    </div>
    <section id="skills">
        
        <div  class="skills">
            <h1>Skills</h1>
            <div class="row">
                <div class="info1">
                    <h3> Technical:</h3>
                    <ul>
                        <li>JavaScript</li>
                        <li>Angular JS</li>
                        <li>HTML</li>
                        <li>CSS/SASS/LESS</li>
                        <li>Wordpress(Beginner)</li>
                        <li>Github</li>
                    </ul>
                </div>
                <div class="info2">
                    <h3>Tools/Software:</h3>
                    <ul>
                        <li>VS Code</li>
                        <li>Photoshop(Beginner)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        
    <section id="project">

        <div class="project">
            <h1>Projects</h1>
            <ul>
                <li>Online Ebook System</li>
                <p>A platform for purchasing ebooks made for a college project using  Angular, HTML/CSS. </p>
        <li>MS Windows OS Web Profile</li>
        <p>A web based windows OS platform created for practice purpose using  Vanilla JavaScript, HTML/CSS.
              Added a Calculator feature inside the platform itself.  </p>

            <div class="projectlink">Visit: <a href="https://manish2405.github.io/" target="_blank">https://manish2405.github.io/</a> <div class="msg">(Works only on Desktop)</div></div>
        </ul>
    </div>
</section>
<app-contact></app-contact>
</div>