
<section id="contact">
    <div class="contact">
        <h1>Contact Me</h1>
        <div class="contact-container row">

            <div class="col-6 info">
                <h2>General</h2>
                <h3>MANISH VERMA</h3>
                <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 7532999755</p>
                <p><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>Manish.v2405@gmail.com </p>
                
                <div class="social">
                        <p>Check me out on Social Media</p>
                        <a href="https://www.facebook.com/manish.dancerboy" target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/manish-verma2405" target="_blank"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/m_a_n_i_s_h__________/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                </div>
                
            </div>
            <div class="col-6 form">
                <h2>Talk To me</h2>
                
                <ul>
                <form action="https://formspree.io/manish.v2405@gmail.com" method="POST">
                        <li>Full Name:</li>
                        <input type="text" class="textfield" name="name"  placeholder="Enter Full Name" required><br><br>
                        <li>Email:</li>
                        <input type="email" class="textfield" name="email" placeholder="Enter Your Email" required><br><br>
                        <li>Massage:</li>
                        <textarea name="msg"  cols="30" placeholder="Enter your Massage" rows="10" required></textarea><br><br>
                        <button class="btn">Send</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</section>