@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

html{
  scroll-behavior: smooth;
}

body{
  background-color: #eee;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .align-center {
    align-items: center;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .justify-left {
    justify-content: flex-start
  }
  .justify-right {
    justify-content: flex-end;
  }


  .container{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }
  
  .col-1 {
    width: calc(8.333%*1);
  }
  
  .col-2 {
    width: calc(8.333%*2);
  }
  
  .col-3 {
    width: calc(8.333%*3);
  }
  
  .col-4 {
    width: calc(8.333%*4);
  }
  
  .col-5 {
    width: calc(8.333%*5);
  }
  
  .col-6 {
    width: calc(8.333%*6);
  }
  
  .col-7 {
    width: calc(8.333%*7);
  }
  
  .col-8 {
    width: calc(8.333%*8);
  }
  
  .col-9 {
    width: calc(8.333%*9);
  }
  
  .col-10 {
    width: calc(8.333%*10);
  }
  
  .col-11 {
    width: calc(8.333%*11);
  }
  
  .col-12 {
    width: calc(8.333%*12);
  }
  
  [class*=col-] {
    padding: 0 15px;
  }
  
a {
  text-decoration: none;
}


.btn {
  position: relative;
  background-color: #111;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover{
      background-color: #0086d3;

  }
  i{
      padding-right: 5px;
  }
}
